HTTP_ADDRESS=:8080
DATABASE_URL=postgres://postgres:postgres@postgres:5432/property_ops?sslmode=disable
STORAGE_ROOT=storage
PUBLIC_BASE_URL=http://localhost:8080
BILLPLZ_API_BASE_URL=https://www.billplz-sandbox.com/api
BILLPLZ_API_KEY=
BILLPLZ_X_SIGNATURE_KEY=
BILLPLZ_COLLECTION_ID=
BILLPLZ_CALLBACK_BASE_URL=http://localhost:8080
